<div id="profile">
    <h2>
        <%= gravatar_for_eighty_px @user %> Hi, <%= @user.username %>
    </h2>
    <p id='add-photo'><%= link_to 'Add', 'https://en.gravatar.com/' %> profile picture.</p>
    <%= render 'follow_form' if logged_in? %>

    <section class="stats">
      <%= render 'shared/stats' %>
    </section><br>

    <div id="profile-text">
      <p>Email: <%= @user.email %></p>
      <p>Bio: <%= @user.bio %> </p>
      <%= link_to "Edit Profile", edit_user_path(current_user) %>
  </div>

</div>
  <div id="my-communities">
  <h2>My Communities</h2>
  <p><%= link_to "Browse Communities", communities_path %></p>
  <% @user.communities.each do |community| %>
  <ul>
    <div>
      <li> <%=link_to community.name, community_path(community)%><%= link_to " | unsubscribe", unsubscribe_path(community), method: :delete, class: 'unsub-link-to-text-color' %>
      </li>
    </div>
  </ul>
  <% end %>
</div>
