<div class="">
  <h1><%= @post.title %></h1>
  <% if @post.photo %>
  <%= image_tag @post.photo%><br>
  <% end %><br>
  <p>Author: <%=link_to @post.user.username, user_path(@post.user.id) %></p>
  <%= @post.content %><br>
  <br>
</div>

<div class="">
  <h2>Comments:</h2>
  <%= link_to "add a comment", new_comment_path %>
  <ul>
    <% @post.comments.each do |comment| %>
    <li>
      <img src="<%= comment.user.avatar_url %>" height="40" width="40"> <%= comment.content %> <br> <%= link_to comment.user.username, user_path(comment.user.id) %></li>
    <% end %>
  </ul>
</div>
