<div class="">
  <h1><%= @post.title %></h1>
  <p>Author: <%=link_to @post.user.username, user_path(@post.user.id) %></p>
  <%= @post.content %><br>
  <br>
</div>

<div class="">
  <h2>Comments:</h2>
  <%= link_to "add a comment", new_comment_path %>
  <ul>
    <% @post.comments.each do |comment| %>
    <li><%= gravatar_for_forty_px comment.user.email %><%= comment.content %> <br> <%= link_to comment.user.username, user_path(comment.user.id) %></li>
    <% end %>
  </ul>
</div>
