<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      body {
        background-color: black;
        color: white;
      }
      a:link {
        color: lightgreen;
      }
    </style>
  </head>
  <body>
  <% if params[:search].nil? %>
    <h1>Communities:</h1>
    <p> <%= link_to "Create a Community", new_community_path%> </p>
    <% @communities.each do |community| %>
    <ul>
      <li>Name: <%= link_to "#{community.name}", community_path(community) %> </li>
      <li>Description: <%= community.description %></li>
    </ul>
    <% end %>
  <% elsif @communities_search.blank? %>
    <h4>There are no communities/posts containing the term <%= params[:search] %>.</h4>
  <% elsif !@communities_search.blank?%>
    <h1>Communities Search Results:</h1>
    <p> <%= link_to "Create a Community", new_community_path%> </p>
    <% @communities_search.each do |community| %>
    <ul>
      <li>Name: <%= link_to "#{community.name}", community_path(community) %> </li>
        <li>Description: <%= community.description %></li>
    </ul>
    <% end %>
    <h1>Post Search Results:</h1>
    <% @posts_search.each do |post| %>
    <ul>
      <li>Name: <%= link_to "#{post.title}", post_path(post) %> </li>
      <li>Description: <%= truncate(post.content, length: 25) %></li>
    </ul>
    <% end %>
    <% end %>
  </body>
</html>
