<h1> <%= @community.name %> </h1>
<ul>
  <li>Description: <%= @community.description %></li>
  <li><%= link_to 'Subscribe', subscribe_path(@community), method: :post%></li>
</ul>

<h2>Community Posts</h2>
<%= link_to "Create Post", new_post_path(@community) %>
<% @community.posts.each do |post| %>
<ul>
  <li>Title: <%= link_to post.title, post_path(post) %></li>
</ul>
<% end %>
