<h1> <%= @community.name %></h1><%= link_to 'Subscribe to this Community', subscribe_path(@community), method: :post%>

<ul>
  <li>Description: <%= @community.description %></li>
  <% if is_admin?(@community) %>
    <li><%= link_to "promote user to admin", promote_path %></li>
    <li><%= link_to "edit community", edit_community_path(@community) %></li>
    <li><%= link_to "delete community (WARNING: PERMANENT)", community_path(@community), method: :delete %></li>
  <% end %>
</ul>

<h2>Posts</h2>
<%= link_to "Create Post", new_post_path(@community) %>
<% @community.posts.each do |post| %>
<ul>
  <li>Title: <%= link_to post.title, post_path(post) %></li>
</ul>
<% end %>
